body {
    font-family: "Lucida Console", Monaco, monospace;
}

.board {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.board td {
    width: 33.3%;
    height: 33.3%;
    border: 3px solid #2675B1;
    vertical-align: middle;
}

td {
    text-align: center;
    vertical-align: middle;
}

.cell table {
    width: 100%;
    height: 100%;
}

.cell td {
    border: 0px;
}

.cell .mark {
    font-size: 30px;
}

.player-x {
    color: #FF0000;
}

.player-x {
    display:block;
    /*   box-sizing:border-box; */
    clear:both;
    height: 100%;
    /*   border: 1px solid black; */
    color: #FFF;
    background-color: #FF0000;
}

.player-o {
    display:block;
    /*   box-sizing:border-box; */
    clear:both;
    height: 100%;
    /*   border: 1px solid black; */
    color: #FFF;
    background-color: #00F;
}

.mark .turn {
    /*   position: relative; */
    /*   top: 50%; */
    /*   left: 50%; */
    /*   transform: translateX(-50%) translateY(-50%);    */
    font-size: 40%;
}

.classical {
    font-size: 80px;
    vertical-align: -20px;
}

.classical .turn {
    font-size: 40%;
}

.open {
    background-color: #fffcde;
}

.highlight {
    color: #5ea571;
}

.player-1 {
    background-color: #ffd6fc;
    /* font-size: 50%; */
    /* vertical-align: sub; */
}

.player-0 {
    /* font-size: 50%; */
    background-color: #eef;
    /* vertical-align: sub; */
}



/* SVG Icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-close {
  width: 0.7857142857142857em;
}

.icon-circle-o {
  width: 0.8571428571428571em;
}
